{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
    %}<html>
        <br>
        <br>
        <center><h1 style="font-size:75px">About</h1></center>
        <center><h2>This model was developed by Andrew Choi and Mason Bulling.</h2></center>
        <br>
        <br>
        <div class="photos" style="text-align:center">
            <a href="https://www.linkedin.com/in/andrewshchoi/"><div class="andrewchoi" style="border-radius:50px;display:inline-block">
                <img style="border-radius:250px;padding-right:25px" src="https://media-exp2.licdn.com/dms/image/C5603AQEI_HCCqCuuRw/profile-displayphoto-shrink_400_400/0/1655434414132?e=1660780800&v=beta&t=c79L4gfX64XnMD8kLNMQ7II7FWObocKrenFaw-howGQ" id="andrewschoi" width="400px" height="380px"/>
            </div></a>
            <a href="https://www.linkedin.com/in/mason-bulling-167164228/"><div class="masonbulling" style="border-radius:50px;display:inline-block">
                <img style="border-radius:250px;padding-left:25px" src="https://media-exp2.licdn.com/dms/image/C4E03AQHuYz6chRg6Yg/profile-displayphoto-shrink_400_400/0/1649014949052?e=1660780800&v=beta&t=s9H_BRMi7ccp9xbvl740P9mEZKZrN3ea7EoQ2ki6h8Y" id="masoncbulling" width="400px" height="380px"/>
            </div></a>
        </div>

    </html>
    
    {% endblock %}
    