{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<form method="POST">
  <br>
  <br>
  <h3 align="center" style="font-size:50px;color:green;">Machine Learning Real Estate Price Estimator</h3>
  <p align="center">An online real estate price estimator built built on Flask App using a machine learning algorithm.</p>
  <br>
  
  <h5 align="center">Enter an address to get started:</h5>
  <p id="demo" align="center"></p>


  
  <center><div class="form-group">
    <label for="addr"></label>
    <input
      style="width:50%"
      type="address"
      class="form-control"
      id="addr"
      name="addr"
      placeholder="Enter Address"
    />
  </div></center>
  <br>
  <center><button type="submit" style="background-color:green;border-color:green;width:250px;height:50px" class="btn btn-primary">Predict Price</button></center>
  
</form>

<h1>{{ test }}</h1>
{% endblock %}
