{% extends "base.html" %} {% block title %}Prediction{% endblock %} {% block content
    %}
    <form method="POST">
      <br>
      <br>
      <h3 align="center" style="font-size:50px;color:green;">Machine Learning Real Estate Price Estimator</h3>
      
      <br>
      <center><h1 style="font-size:75px">Predicted Retail Price: ${{ test }}.00</h1></center>
      <center><h2 style="font-size:45px">Features: {{ test2 }}</h2></center>
      
      
      <br>
    </form>
    <center><a href="/">Try Another Property</a></center>
    
    {% endblock %}
    